# ── Konfigurasi Aplikasi ─────────────────────────────────────────────────────
# Copy file ini menjadi .env lalu sesuaikan isinya

SECRET_KEY=your_secret_key

# ── Konfigurasi MySQL ─────────────────────────────────────────────────────────
DB_HOST=your_mysql_host
DB_PORT=your_mysql_port
DB_USER=your_mysql_user
DB_PASSWORD=your_mysql_password_here
DB_NAME=your_mysql_database
