# ── Konfigurasi Aplikasi ─────────────────────────────────────────────────────
# Copy file ini menjadi .env lalu sesuaikan isinya
SECRET_KEY=your_secret_key
GROQ_API_KEY=your_groq_api_key
USE_FAISS_EMBEDDING=true

# ── Konfigurasi MySQL ─────────────────────────────────────────────────────────
DB_HOST=your_mysql_host
DB_PORT=your_mysql_port
DB_USER=your_mysql_user
DB_PASSWORD=your_mysql_password_here
DB_NAME=your_mysql_database

# Konfigurari TURN Server
TURN_HOST=your_turn_host
TURN_PORT=your_turn_port
TURN_USERNAME=your_turn_username
TURN_CREDENTIAL=your_turn_credential

# Konfigurasi SMTP Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_email_app_password
SMTP_FROM_NAME=Sakti Pet Care